<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% extends 'basic.html' %}
{% block title %} final{% endblock %}
{% block body %}
<table width="100%" height="60">
    <tr>
       <td width="100%" bgcolor="#228b22">
           <ul style="margin-left:80%;" type="none" >
             <li>
                     <select name="welcome" style="height:30px;">
                         <option value="1" selected> select</option>
                            <option value="logout">
                                      logout
                            </option>
                         <option value="change profile">
                             change profile
                         </option>

                     </select>
            </li>
        </ul>
       </td>
    </tr>
</table>



<table align="center"  width="1000" height="480"  cellspacing="50">
    <tr>
        <td bgcolor="skyblue"  align="center" ><a href="detailofworker" style="text-decoration:none"><font size=5 color="#000000">DETAILS OF WORKERS</font></a></td>
        <td bgcolor="skyblue"  align="center"><a href="mark" style="text-decoration:none"><font size=5  color="#000000">ATTENDENCE</font></a></td>
    </tr >
    <tr >
       <td bgcolor="skyblue"  align="center"><a href="date_att" style="text-decoration:none"><font size=5  color="#000000">ATTENDENCE SHEET</font></a></td>
        <td bgcolor="skyblue"  align="center"><a href="work_photo.html" style="text-decoration:none"><font size=5  color="#000000">PHOTOS OF WORK</font></a></td>
    </tr>
</table>
{% endblock %}