{% extends 'basic.html' %}
{% block title %}MGNREGA{% endblock %}
{% block body %}
<marquee bgcolor="yellow" color="red" size="5"> <font color="red" size="5">Attendence website\webapp for MGNREGA</font></marquee>
{% load static %}
<table>
       <tr>
           <td align="left" width="25%" height="900">
               <table  cellspacing="10" height="900">
                    <tr>
                        <td width="400" ><img src="{% static 'images/mgnrega.jfif' %}" width="95%" height="100%" ></td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'images/mgnrega2.jfif' %}" width="95%" height="100%"><br></td>
                    </tr>
                    <tr>
                        <td><img src="{% static 'images/images.jfif' %}" width="95%" height="100%" ><br></td>
                    </tr>
                </table>
       </td>
        <td align="left"  width="52%" height="900">
        <table  border="0" cellspacing="10" height="900">
                            <tr>
                                    <td bgcolor="sky blue" align="center"  >
                                        <a href="first" style="text-decoration:none"><font size="5" color="black">onfield login</font></a>
                                    </td>
                                     <td align="center" bgcolor="sky blue" >
                                        <a href="second" style="text-decoration:none"><font size="5" color="black">office login</font></a>
                                    </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="justify" > <font size="7" color="blue"><center>MGNREGA</center></font><br>
                                <font size="5" title="narega" color="orange">
                                    The Government of India introduced the Mahatma Gandhi National Rural
                                    Employment Guarantee Act in 2005.This Act is a social security scheme
                                    that aims to provide livelihood, sustenance and employment to the rural communities and labourers
                                    in India. The NREGA assures income security to rural families and provides a minimum of 100 days of
                                    definite wage employment in one year. This wage employment is applicable for adults who have volunteered
                                    unskilled manual labour. This scheme has been implemented on a very large scale
                                    Under the MGNREGA, any rural adult non-skilled worker can get a minimum 100-day job guarantee,
                                    every financial year. Every Indian rural citizen is entitled to receive employment within 15 days of
                                    registering under this scheme. Once the registration has been done, the worker is eligible for an
                                    unemployment allowance from the Government as well, if employment has not been found
                                    within the stipulated period.
                            </font></td>
                    </tr>
                    <tr>
                          <td align="center" colspan="2" height="30">
                                <a href="http://nrega.nic.in/rajaswa.pdf"> <button> Act 2005</button></a>
                            </td>
                    </tr>


        </table>
        </td>
           <td width="25%" height="900">
        <table  border="0" cellspacing="10" height="900" >
                  <tr>
                        <td align="center"> <a href="https://digitalindia.gov.in" style="text-decoration:none"><img src="{% static 'images/digitalindialogo.png' %}" width="80%"><br><font size="6" > Digital India </font></a>
                        <br><br><br>
                            <a href="https://www.india.gov.in" style="text-decoration:none" ><img src="{% static 'images/indiagov.png' %}" width="70%"><br> <font size="6">National portal of India </font></a>
                       <br><br><br>
                            <a href="https://nhm.gov.in" style="text-decoration:none" ><img src="{% static 'images/logo.png' %}" width="70%"><br> <font size="6">National Health Mission</font></a>
                        <br><br><br>
                            <a href="https://www.betibachaobetipadhao.co.in/" style="text-decoration:none"><img src="{% static 'images/scheme.jfif' %}" width="70%"><br> <font size="6" >Beti Bachao Beti Padhao</font></a> </td>
                   </tr>
        </table>
           </td>
       </tr></table>
<hr>
contacts
<br>
softteam<br>
helpline
{% endblock %}